{% extends 'base.html' %}
{% from "navlinks.html" import navlinks %}
{% block title%}home{% endblock %}
{% block nav %}
{{ navlinks(user) }}
{% endblock %}
{% block body %}
<div class="page-header">
  <h1>Ask An Expert</h1>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="list-group">
      {% if not user %}
      <div class="well bs-component">
        <h3>How it works</h3>
        <ul>
          <li><h4>Connect</h4></li>
          <li><h4>Go back-and-forth</h4></li>
          <li><h4>Fix it now.</h4></li>
        </ul>
      </div>
      {% endif %}
      {% if user %}
      <h2>Asked questions</h2>
      {% endif %}
      {% for question in question_results %}
      <a href="{{ url_for('question', question_id=question['question_id']) }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ question['question_text'] }}</h4>
        <p class="list-group-item-text">Asked by: {{ question['asker_name'] }}</p>
        <p class="list-group-item-text">Answered by: {{ question['expert_name'] }}</p>
      </a>
      {% endfor %}
    </div>
  </div><!-- /.col-lg-12 -->
</div>
{% endblock %}