{% extends 'base.html' %}
{% from "navlinks.html" import navlinks %}
{% block title%}question{% endblock %}
{% block nav %}
{{ navlinks(user) }}
{% endblock %}
{% block body %}
<div class="jumbotron">
  <h3>Question: {{ question_result['question_text'] }}</h3>
  <p>Answer: {{ question_result['answer_text'] }}</p>
  <p><a class="btn btn-primary btn-lg">Asked By: {{ question_result['asker_name'] }}</a></p>
  <p><a class="btn btn-primary btn-lg">Answered By: {{ question_result['expert_name'] }}</a></p>
</div>
{% endblock %}