{% extends 'base.html' %}
{% from "navlinks.html" import navlinks %}
{% block title%}Register{% endblock %}
{% block nav %}
{{ navlinks(user) }}
{% endblock %}
{% block body %}
<div class="page-header">
  <h1>Register</h1>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="well bs-component">
      <form class="form-horizontal" method="POST" action="{{ url_for('register') }}">
        <fieldset>
          <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" name="name" placeholder="Name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Retype password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" name="retype_password" placeholder="Retype password" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </div>
          {% if error %}
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <p style="color: #df691a; font-size: large;">{{ error }}</p>
            </div>
          </div>                 
          {% endif %}
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}